# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore protected settings
model.yml

# ignore log artifacts
*.log

# ignore key file
*_key.json